<div class="social">
    <div class="vacio"><p>© 2023 Roberto Melero</p></div>
    <div class="redes">
        <a href="https://www.linkedin.com/"><img src="/assets/imagenes/icons8-linkedin-48.png" alt="linkedin" style="height: 30px;"></a>
        <a href="https://www.instagram.com/"><img src="/assets/imagenes/icons8-instagram-48.png" alt="instagram"style="height: 30px;"></a>
        <a href="https://twitter.com/"><img src="/assets/imagenes/icons8-twitter-48.png" alt="twitter"style="height: 30px;"></a>
        <a href="https://www.facebook.com/"><img src="/assets/imagenes/icons8-facebook-48.png" alt="facebook"style="height: 30px;"></a>
    </div>
</div>

