.main-container {
    display: flex;
    flex-direction: column;
    min-height: 84vh;
    max-width: 100%;
  }
  
  .info {
    position: relative;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .main-container {
    text-align: center;
  }
  
  #background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .añadir {
    position: relative;
    width: 300px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 70px;
    margin-top: 50px;
    margin-bottom: 110px;
    gap: 10px;
  }
  
  .busqueda {
    background-color: transparent;
    width: 100%;
    height: 15%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid rgb(219, 219, 219);
    font-size: 12pt;
    color: white;
  }
  
  .but {
    background-color: #2f00b1;
    color: white;
    width: 180px;
    height: 40px;
    padding: 6px;
    border-radius: 8px;
    margin-top: 5px;
    border: transparent;
    font-size: 14pt;
    font-weight: bold;
  }
  
  .añadir ::placeholder {
    color: white;
    -webkit-text-stroke: 0.1px black;
  }
  
  h1 {
    color: #2f00b1;
    font-size: 43px;
    margin-bottom: 10px;
    -webkit-text-stroke: 1px black;
  }
  
  .bus {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    margin-left: 620px;
    gap: 10px;
  }
  
  .busqueda1 {
    background-color: white;
    width: 30%;
    height: 15%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid rgb(219, 219, 219);
    font-size: 14pt;
  }
  
  .but1 {
    background-color: #2f00b1;
    color: white;
    width: 140px;
    height: 40px;
    padding: 6px;
    border-radius: 8px;
    border: transparent;
    font-size: 14pt;
    font-weight: bold;
  }
  